.form
	width: 100%
	&__input
		appearance none
		border: 1px solid #d9d9d9
		border-radius: 5px
		padding: 10px 20px
		font-size: 16px 
		width: 100%
		outline: none
		margin-y: 5px
		transition: border-color 0.3s
		+below('s')
			font-size: 12px
		&:focus
			border-color: $blue
		&:required:invalid:focus:not(:placeholder-shown)
			border-color: red
		&:required:valid
			border-color: $blue
	&__button
		font-size: 12px
		border: none
		border-radius: 20px
		padding: 0 20px
		margin-top: 10px
		background-color: $green
		color: white
		transition: all 0.3s
		text-transform: uppercase
		font-weight: bold
		cursor: pointer
		height: 40px
		display: flex
		@extend $vertical-align-middle
		margin-x: auto
		&:hover
			color: $blue
			background-color: rgba(black, 0.1)
	&__errors
		background: #f83737
		border-radius: 3px
		color: white
		font-size: 14px
		padding: 10px 20px
		margin-bottom: 5px
		display: none
		+below('s')
			font-size: 12px;