mixin form()
	+b('form').form(name="callback-form")
		+e.errors
		+e('input').input(type="text" name="name" placeholder="Ваше ФИО" spellcheck="false" maxlength="40" required minlength="3")
		+e('input').input(type="tel" name="phone" placeholder="Ваш номер телефона" spellcheck="false" required)
		+e('input').button(type="submit")
	// End form