mixin search-form()
	+b.search-form
		+e('button').button(title='Поиск')
		+e.form-wrapper
			+e('form').form
				+e('button').submit(type="submit") Отправить
				+e.label(for="search")
					+e('input').input#search(type="search" name="search" placeholder="Поиск")
	// End Search form