.modal
	box-shadow: 0 10px 40px rgba(0,0,0,.2)
	background-color: white
	border-radius: 5px
	padding: 20px 30px
	max-width: 400px
	width: 100%
	margin: auto
	position: relative
	+below('s')
		padding: 15px
	&__title
		font-size 18px
		color: $blue
		margin: 0
		margin-bottom: 10px
		+below('s')
			font-size: 14px