@require 'animate.css/source/fading_entrances/fadeInUp.css'
@require 'animate.css/source/fading_entrances/fadeIn.css'
.index
	display: block
	size: 100% 100vh
	background: url(../images/index/index-bg.jpg) no-repeat center
	background-size: cover
	position: relative
	overflow: hidden
	+below('s')
		background: url(../images/index/index-bg@mobile.jpg) no-repeat center
		background-size: cover
	&:after
		content: ''
		@extend full-absolute
		background: url(../images/index/index-fg.jpg) no-repeat center
		background-size: cover
		opacity: 0.15
		animation: "in-scale" 7s 3s 1 both
		+below('s')
			background: url(../images/index/index-fg@mobile.jpg) no-repeat center
			background-size: cover
	&:before
		content ''
		@extend full-absolute
		background: rgba(black, 0.2)
		display: block
		z-index: 1
	&__wrapper
		display: flex
		flex-wrap: wrap
		flex-direction: column
		@extend $justify-between
		position: relative
		size: 100% 100vh
		z-index: 2
	&__nav
		width: 100%
	&__big-text
		@extend $row
		@extend $vertical-align-middle
		margin-x: auto
		color white
		opacity: 0
		animation: fadeIn 1s 1s 1 both
		&--wrapper
			width: 50%
			margin-left: 30px
			+below('l')
				width: 70%
				margin-left: 15px
			+below('m')
				width: 85%
			+below('s')
				width: 100%
	&__h1
		font-family Georgia
		font-size 90px
		font-weight 400
		line-height 1
		margin: 0 0 20px
		+below('l')
			font-size: (90 - 20%)px
		+below('m')
			font-size: (90 - 30%)px
		+below('s')
			font-size: (90 - 40%)px
		+below('xs')
			font-size: (90 - 55%)px
	&__subtitle
		font-size 19px
		font-weight 400
		line-height 1.4
		padding-right: 4%
		+below('l')
			font-size (19 - 20%)px
		+below('s')
			font-size: (19 - 25%)px
	&__call-us
		display: flex
		flex-wrap: wrap
		@extend $vertical-align-middle
		cursor: pointer
		padding-top: 30px
		font-size: 16px
		+below('l')
			font-size: 14px
		+below('s')
			padding-top: 15px
		+below('xs')
			font-size: 12px
		&:hover
			.callback-button
				background-color rgba(black,0.1)
	&__call-us-text
		margin-left: 15px
		text-transform: uppercase
		transition: all 0.3s ease-in
		+below('xs')
			margin-left: 10px
		^[-1]__call-us:hover &
			margin-left: 5px
	&__footer
		margin: 30px
		color: white
		text-shadow 0 0 5px rgba(0, 0, 0, 0.75)
		font-size 16px
		font-weight 300
		line-height 1.3
		text-shadow: 0 0 10px rgba(0,0,0,.8)
		animation: fadeInUp 1s 1.5s 1 both
		+below('l')
			font-size: 12px
			margin: 15px
.edgar-pro
	position: relative
	display: inline-block
	&:after
		content ''
		display: block
		size 100% 1px
		border-bottom: 1px dotted white
		transition: all 0.3s
	&:hover:after
		border-bottom-color: transparent

@keyframes in-scale
	0% {
		transform: scale(1.5)
	}
	100% {
		transform: scale(1)
	}