include ../nav/nav
mixin index()
	+b('main').index
		+e.wrapper
			+nav('header')(class="--animation index__nav")
			+e.big-text
				+e.big-text--wrapper
					+e('h1').h1 Юридические услуги
					+e.subtitle Компания специализируется на оказании юридических услуг как для корпоративных клиентов так и для частных лиц. Мы готовы предложить любые нестандартные решения.
					+e.call-us
						+callback-button()(class="--call-us")
						+e.call-us-text ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ
			// End Big Text
			+e('footer').footer
				p &copy; Название сайта, 2016. Все права защищены.#[br] Создание сайта: 
					a.edgar-pro(href="http://edgar.pro") Edgar.pro
			// End Footer