.menu-sub
	display: block
	background-color: white
	color: $blue
	list-style: none
	position: absolute
	top: 100%
	position-x: 0
	margin-x: -50%
	text-align: center
	box-shadow: 0 10px 40px rgba(0,0,0,.2)
	border-radius: 5px
	opacity: 0
	transform: translate3d(0,10px,0)
	transition: all 0.3s
	pointer-events: none
	text-transform: uppercase
	z-index: 10
	.menu__item:hover &
	.menu__link:focus + &
		opacity: 1
		transform: translate3d(0,0,0)
		pointer-events: auto
	&:before
		content ''
		display: block
		size 20px
		border-arrow(top, 10px, white)
		position: absolute
		z-index: 2
		top: -19px
		position-x: 0
		margin-x: auto
	&__link
		display: block
		padding: 10px 20px
		position: relative
		transition: color 0.3s
		&:after
			content ''
			display: block
			size 100% 1px
			background-color: #e9ebed
			position: absolute
			left: 0
			right: 0
			bottom: 0
			margin: 0 auto
			transition: background-color 0.3s
		~/__item:last-child &:after
			content none
		&:hover
			color: rgba($blue, 0.7)