include /../node_modules/bemto.jade/bemto
include ../page/page
include ../scripts/scripts
include ../styles/styles
include ../modal/modal
- set_bemto_settings({ modifier: '--' })
doctype html
html(lang='ru')
	include ../head/head
	+page()(class=pageAttributes)
		block content
		+modal()(id="modal-form" class="zoom-anim-dialog mfp-hide")