include ../menu/menu
include ../callback-button/callback-button
include ../search-form/search-form
include ../logo/logo
mixin nav(navEl)
	+b({tag: navEl }).nav&attributes(attributes)
		+e.logo
			+logo()
		+e('nav').menu
			+menu(getData('menu'))
		+e.others
			+e.tel(href="tel:+79999999999" title="Наш телефон") +7 (999) 999-99-99
			+callback-button()
			+search-form()
	// End Nav