include ../social/social
mixin container()
	+b('main').container
		+e('article').article
			+e('h1').title Споры по недвижимости
			+e('h2').subtitle ПРАВОВАЯ ЗАЩИТА НЕДВИЖИМОСТИ
			+e.text
				b Восстановление и защита прав на недвижимое имущество
				p — представление интересов клиента в судах, в т.ч. в третейских судах на всех стадиях арбитражного процесса, третейского разбирательства<br>—  обеспечение интересов клиента в исполнительном производстве<br>—  разработка судебной схемы защиты/восстановления права собственности на объект недвижимости<br>—  Внесудебное урегулирование споров
			+e('footer').footer
				+social()
					script(src="//yastatic.net/share2/share.js")
					.ya-share2(data-services="vkontakte,facebook,twitter,telegram")
	// End Container