.container
	max-width: 1140px
	margin: 50px auto
	color: $blue
	width: 100%
	+below('xl')
		padding: 0 20px
	+below('s')
		margin: 25px auto
		padding: 0 15px
	&__article
		width: 100%
	&__title
		font-family Georgia
		font-size 50px
		font-weight 400
		line-height 1.3
		max-width: 740px
		margin: 0 auto 20px
		+below('s')
			font-size: 30px
		+below('xs')
			font-size: 24px
			margin-bottom: 10px
	&__subtitle
		font-size: 16px
		font-weight: normal
		line-height: 1.2
		max-width: 740px
		margin: 0 auto 30px
		+below('xs')
			margin-bottom: 15px
	&__footer
		width: 100%
		margin-top: 100px
		+below('s')
			margin-top: 50px
		+below('xs')
			margin-top: 35px
	&__text
		max-width: 740px
		margin: 0 auto
		width: 100%
		font-size: 16px
		+below('xs')
			font-size: 14px
		h2,h3,h4,h5,h6
			font-family: Georgia
			line-height: 1.2
			font-weight: normal
			margin: em(10) 0 em(20)
		h2
			font-size: em(35)
		h3
			font-size: em(30)
		h4
			font-size: em(25)
		h5
			font-size: em(20)
		h6
			font-size: em(18)
		p
			font-weight: 400
			font-size: em(16)
			margin: 5px 0
			a
				font-size: 1em
			ul
				font-size: 1em
			table
				font-size: 1em
		a
			font-weight: 400
			font-size: em(16)
			text-decoration: underline
			&:hover
				text-decoration: none
		ul
			list-style: none
			> li
				&:before
					content: '• '
				> ul
						list-style: none
						> li
							&:before
								content: '○'
		ol
		ul
			font-size: em(16)
			margin: em(5, 16) 0
			line-height: 1.3
			> li
				> ol
				> ul
						font-size: 1em
						padding: 0 em(10, 16)
		ol
			list-style: none
			counter-reset: list1
			li
				&:before
					counter-increment: list1
					content: counter(list1) ". ";
		table
			font-size: em(16)
			border: 1px solid $blue
			border-collapse: collapse
			margin: 30px 0
			th
				background: $blue
				color: white
				padding: 5px
				font-size: 1.2em
			td
				border: 1px solid $blue
				padding: 5px 10px