@font-face
	font-family 'Georgia'
	src url('../fonts/Georgia.eot')
	src local('Georgia'),
 url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Georgia.woff') format('woff'),
		url('../fonts/Georgia.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Roboto'
	src url('../fonts/Roboto-Light.eot')
	src local('Roboto Light'), local('../fonts/Roboto-Light'),
 url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Roboto'
	src url('../fonts/Roboto-Bold.eot')
	src local('Roboto Bold'), local('../fonts/Roboto-Bold'),
 url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal

@font-face
	font-family 'Roboto'
	src url('../fonts/Roboto-Regular.eot')
	src local('Roboto'), local('../fonts/Roboto-Regular'),
 url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal