extends ../blocks/layout-default/layout-default
include ../blocks/index/index
include ../blocks/m-menu/m-menu
include ../blocks/mobile-button/mobile-button
prepend head
	title Адвокаты главная
	-pageAttributes = null
block content
	+b('nav').m-menu
		+m-menu(getData('menu'))
	+mobile-button()
	+index()
	+scripts(['app.js'])