extends ../blocks/layout-default/layout-default
include ../blocks/other/other
include ../blocks/m-menu/m-menu
include ../blocks/mobile-button/mobile-button
prepend head
	title Адвокаты остальные страницы
	-var pageAttributes = '--other'
block content
	+b('nav').m-menu
		+m-menu(getData('menu'))
	+mobile-button()(class="--dark")
	+other()
	+scripts(['app.js'])