@require 'animate.css/source/fading_entrances/fadeIn.css'
.m-menu
	@extend full-absolute
	z-index: 10
	background: $blue
	display: none
	overflow-y: auto
	&__list
		@extend $row
		@extend $justify-center
		@extend $vertical-align-middle
		height: auto
		padding: 20% 0
		list-style: none
		color: white
		background: $blue
		opacity: 0
		animation: fadeIn
		animation-fill-mode: both
		animation-iteration-count: 1
		animation-duration: 1s
		animation-delay: 0.5s
	&__item
		display: block
		width: 100%
		text-align: center
		font-size: 20px
		line-height: 1.7
		margin: 5px 0
		font-weight: 300
		+below('xs')
			font-size: 18px
			line-height: 1.5
		&--have_content
			position: relative
			&:before
				content ''
				display: block
				border-radius: 100%
				size: 30px
				right: 10px
				top: 0
				position: absolute
				background: url(../images/m-menu/arrow-down.svg) no-repeat 0px 2px, #fff
				background-size: contain
				transition: transform 0.3s
				+below('xs')
					top: -1px
					size: 25px
			&--open
				&:before
					transform: rotate(180deg)
			& .m-menu__list
				display: none
				background-color: $blue - 10%
				padding-y: 10px
				+below('xs')
					padding: 5px 10px
					margin: 5px 0