mixin m-menu(menu)
	+e('ul').list
		each item in menu
			unless item.content
				+e.item
					+e.link(href=item.link) #{item.name}
			if item.content
				+e.item.--have_content
					+e('a').link #{item.name}
					+m-menu(item.content)
	// End Mobile Menu