.logo
	display: block
	size: 150px
	position: absolute
	left: 0
	top: 0
	background: url('../images/logo/logo.png') no-repeat center
	background-size: contain
	+below('xl')
		size: 110px
		left: 0
		top: -15px
	+below('l')
		size: 100px
		left: -25px
	+below('s')
		size: 80px
		left: -15px
		top: -5px
	+below('xs')
		display: none
	.nav--header &
		size: 70px
		top: -13px
		left: 0
		background: url('../images/logo/logo-invert.png') no-repeat center
		background-size: contain
		+below('l')
			top: -15px
		+below('s')
			size: 55px
			top: -8px