.menu
	@extend $row
	font-weight: bold
	list-style: none
	font-size: 14px
	text-transform: uppercase
	&__item
		padding: 10px 15px
		position: relative
	&__link
		transition: color 0.3s
		~/__item:hover &
			color: rgba(white, 0.6)