head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	block head
	link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
	link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="/manifest.json")
	link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
	meta(name="theme-color", content="#ffffff")
		
	+links(['all-styles.css','app.css'])