mixin footer()
	+b('footer').footer
		+e.item.--copyright
			p &copy; Название сайта, 2016. Все права защищены.#[br] Создание сайта: 
					a.edgar-pro(href="http://edgar.pro") Edgar.pro
		+e.item
			+e.title ОБРАТНЫЙ ЗВОНОК
			+form()
		+e.item(itemscope itemtype="http://schema.org/Organization")
			+e.title КОНТАКТНАЯ ИНФОРМАЦИЯ
			p(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") 
				span(itemprop="addressLocality") Московская область, г.Видное,
				span(itemprop="streetAddress") улица Такая-то, дом 11
			a(href="tel:+7 (999) 999-99-99" itemprop="telephone") +7 (999) 999-99-99
			br
			a(href="mailto:info@domen.com" itemprop="email") info@domen.com
	// End Footer