.footer
	@extend $row
	@extend $vertical-align-top
	color $blue
	padding: 50px 20px
	+below('s')
		padding: 30px 15px
	+below('xs')
		padding: 20px 15px
	&__item
		@extend $col-4
		padding-right: 25px
		+below('m')
			width: 100%
			margin-bottom: 30px
			padding-right: 0
			&--copyright
				order: 1
				margin-bottom: 0
	address
			font-style: normal
			line-height: 1.1
			font-size: 13px
			+below('s')
				font-size: 12px
	a
		font-size: 14px
		display: inline-block
		margin: 5px 0
	a[href^="mailto:"]
		position: relative
		&:after
			content ''
			display: block
			background: $blue
			size 100% 1px
			bottom: 0
			left: 0
			position: absolute
			transition: all 0.3s
		&:hover:after
			background: transparent
	.edgar-pro
		&:after
			background: $blue
		&:hover:after
			background: transparent
	&__title
		font-size 14px
		font-weight 700
		margin-bottom: 10px