.mobile-button
	position: absolute
	z-index: 10
	right: 15px
	top: 20px
	size: 40px
	border: none
	border-radius: 100%
	outline: none
	cursor: pointer
	background-color: white
	display: none
	&--dark
		background-color: $blue
	&--dark&--active
		background-color: white
	+below('l')
		display: block
	+below('s')
		top: 10px
		right: 5px
	&__icon
		color #000
		position absolute
		margin-left 2px
		margin-top 10px
		width 21px
		height 1px
		background-color $blue
		position-x: 0
		position-y: 0
		margin: auto
		transition: background-color 0.3s ease
		~/--active &
			background-color: transparent
		~/--dark &
				background-color: white
		~/--dark.mobile-button--active &
				background: transparent
		&:before
			content ''
			position absolute
			top -5px
			left 0
			width 21px
			height 1px
			background-color $blue
			transition: transform 0.3s ease
			~/--active &
				top: 0
				transform: rotate(225deg)
			~/--dark &
				background-color: white
			~/--dark.mobile-button--active &
				background-color: $blue
		&:after
			content ''
			position absolute
			top 5px
			left 0
			width 21px
			height 1px
			background-color $blue
			transition: transform 0.3s ease
			~/--active &
				top: 0
				transform: rotate(-45deg)
			~/--dark &
				background-color: white
			~/--dark.mobile-button--active &
				background-color: $blue